/**
 * Fonts
 */
@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/DroidSerif.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/DroidSerif-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

/**
 * Typography
 */

/**
 * Icons
 */

.icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
}

.icon.twitter {
  background-image: url(/img/icon.twitter.svg);
}

.icon.medium {
  background-image: url(/img/icon.medium.svg);
}

.icon.github {
  background-image: url(/img/github.svg);
}

.icon.arrow-right {
  background-image: url(/img/icon-arrow.svg);
  margin-top: 2px;
}

.icon.arrow-right-white {
  background-image: url(/img/icon-arrow-white.svg);
}

/**
 * Forms
 */

input {
  -webkit-appearance: none;
  color: #8f7e94;
  font-size: 15px;
  text-align: left;
  width: 393px;
  outline: none;
  background-color: white;
  border-radius: 32.5px;
  width: 300px;
  padding: 19px 30px 19px 30px;
  border: 2px solid #fff;
  display: block;
  margin-top: 23px;
}

.input-field {
  display: flex;
  flex-flow: row wrap;
}

.captcha-field {
  display: flex;
  align-self: center;
  padding-top: 100px;
  padding-left: 5px;
}

.input-field span {
  display: none;
  font-size: 13px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  line-height: 35px;
  text-align: left;
}

.input-field .addon {
  width: 50px;
  height: 61px;
  border-top-right-radius: 32.5px;
  border-bottom-right-radius: 32.5px;
  background-color: #fff;
  background-image: url(/img/long-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: none;
  outline: none;
}

.input-field .addon:hover {
  cursor: pointer;
}

.input-field.error .addon {
  border-color: #e73536;
}

.input-field.error input {
  border-color: #e73536;
}

.input-field.error span {
  display: block;
  color: #e73536;
  margin-left: 30px;
  width: 100%;
}

.email-input {
  margin-top: 71px;
}

.email-input input {
  margin-top: 0;
  border-right: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  width: 280px;
}

/**
 * Styles
 */

html,
body {
  background: linear-gradient(
    143.43deg,
    #1f0232 0%,
    rgba(100, 11, 86, 0.99) 100%
  );
  min-height: 100%;
  min-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 23px;
}

h2 {
  font-size: 30px;
  /* font-style: italic; */
  font-weight: normal;
  line-height: 35px;
}

h5 {
  color: red;
}

p {
  color: #caabcb;
  font-family: 'Droid Serif', serif;
  margin: 0 10em 2em 10em;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}

article ul {
  margin: 0 10em 2em 10em;
}

article ul li {
  color: #caabcb;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 3.5;
}
article img {
  width: 1000px;
}

.rates-container {
  margin: auto;
  margin-bottom: 50px;
  width: 50%;
  flex: 1;
  display: flex;
  padding: 20px;
  background-color: white;
}

.rate {
  width: 33.33%;
}

.rate-title {
  color: #d14435;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.rate-subtitle {
  text-align: center;
  width: 100%;
  color: #d14435;
  font-size: 14px;
  font-weight: bold;
}

.required-info-header {
  background-color: #992020;
  font-size: 100px;
}

.required-info-container {
  margin: auto;
  margin-bottom: 5em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.required-info-container ul {
  background-color: #2d0838;
  width: 80%;
  padding: 1em 0 1em 4em;
}

.required-info-container h3 {
  display: flex;
  align-self: center;
  color: #d14435;
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.center-wrapper {
  margin: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-image {
  width: 60%;
  height: 100%;
  margin-bottom: 5em;
}

.root a:link {
  color: #d14435;
}
.root a:visited {
  color: #2d0838;
  text-decoration: underline;
  cursor: auto;
}

.container {
  background-image: url(/img/purple-cloud.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  min-height: 1000px;
}

main {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 999;
  min-height: calc(100vh - 60px);
  display: grid;
  padding: 30px;
  max-width: 1440px;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 87px;
  grid-template-areas: 'top' 'mid' 'bot';
}

header {
  grid-area: top;
}

.banner {
  background-color: #783460;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner h1 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.banner-about {
  max-width: 670px;
  margin-right: 16px;
}

.banner-about span, .banner-about a, .banner a {
  font-weight: normal;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
}

.banner-about span.about {
  margin-top: 5px;
  display: inline-block;
}

.banner-about span.about, .banner-about a {
  color: #fff;
  font-size: 13px;
}

.banner .banner-cta {
  display: flex;
  width: 224px;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding:0 16px;
  color: #783460;
  background-color: #fff;
  text-decoration: none;
}

.banner .banner-cta .cta {
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px
}

nav.desktop,
nav.mobile {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #928699;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
}

nav a:hover {
  color: #b6abbd;
}

nav a#logo {
  display: block;
  width: 56px;
  height: 56px;
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

nav.mobile a#logo {
  width: 48px;
  height: 48px;
}

nav a#open-menu {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('/img/menu-icon.svg');
  background-repeat: no-repeat;
  margin: 0;
}

nav.desktop ul,
nav.mobile ul {
  display: flex;
  align-items: center;
}

nav.desktop .social {
  align-self: right;
}

nav.desktop .social li {
  margin-right: 20px;
}

nav.desktop .social li a {
  margin: 0;
}

nav.mobile {
  display: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav.menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #2d0838;
  top: 0;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: 0;
  display: grid;
  grid-template-rows: 30px 70% 55px;
  grid-template-columns: 1fr;
  padding: 30px 0;
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

nav.menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 0;
}

nav.menu .close-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav.menu .close-wrapper .close {
  display: block;
  background-image: url('/img/close-icon.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

nav.menu ul {
  padding: 0 30px;
}

nav.menu li {
  margin-top: 40px;
  display: block;
}

nav.menu li a {
  color: #fff;
  font-size: 26px;
  line-height: 32px;
}

nav.menu ul.social li {
  display: inline;
}

nav.menu ul.social li a {
  height: 25px;
  width: 30px;
  background-size: cover;
}

/**
* New Site Message
*/

section.new-site-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 563px;
}

section.new-site-message h1 {
  font-size: 32px;
  line-height: 1.18;
  margin: 0 0 24px 0;
  width: 410px
}

section.new-site-message p {
  text-align: left;
  color: #fff;
  font-family: 'Montserrat';
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.5;
}

section.new-site-message p a {
  color: #fff;
}

section.new-site-message p.new-site-cta a {
  margin-top: 38px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

p a .new-site-cta-message {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: bold !important;
}

/**
 * Suggest An Article
 */

.suggest-article {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #2d0838;
  display: grid;
  grid-template-rows: 127px 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.suggest-article.open {
  visibility: visible;
  opacity: 1;
}

.suggest-article .close-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px 72px;
}

.suggest-article .close-wrapper a.close {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-image: url('/img/close-icon.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 16px 16px;
  padding-right: 25px;
}

.suggest-article h1,
.suggest-article h2 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.suggest-article form {
  width: 390px;
  margin: 55px auto;
}

.suggest-article input {
  margin-left: auto;
  margin-right: auto;
}

.suggest-article button {
  margin-top: 55px;
  background-image: url('/img/chevron-right.png');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center center;
  border: none;
  width: 48px;
  height: 48px;
  background-color: #e73536;
  border-radius: 50%;
}

/**
 * Content
 */

.content {
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: minmax(min-content, calc(100vh - 250px));
  grid-area: mid;
  display: flex;
  justify-content: center;
}

.content #splash {
  padding-top: 163px;
  padding-left: 65px;
}

.content #splash h1 {
  width: 579px;
}

.content #splash h2 {
  width: 509px;
}

.content #illustration {
  -ms-grid-column: 2;
  grid-area: right;
  background-image: url(/img/newsletter-illustration.svg);
  background-repeat: no-repeat;
  background-position: center 66px;
  padding: 30px;
  height: 725px;
}

.past-issues-container {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-around;
  margin-bottom: 30px;
}

.past-issues-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  justify-content: left;
  margin-bottom: 30px;
}

.past-issues {
  min-width: 200px;
  /* width: 33%; */
}

.past-issues li {
  display: block;
  font-size: 18px;
}

.past-issues li a {
  color: #928699;
  text-decoration: none;
}

.past-issues-header li a {
  color: #928699;
  text-decoration: none;
  margin: 8px;
  display: block;
  font-size: 22px;
}

.past-issues li a:hover {
  color: #fff;
}

/**
 * Footer
 */

 footer {
  grid-area: bot;
}

footer .bio h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 14px;
  align-self: left;
}

footer .bio p {
  margin: 15px 0 0 0;
  padding: 0;
  line-height: 1em;
  font-size: 14px;
  align-self: left;
  /* right: 20px; */
  /* background-color: #992020; */
}

footer .bio .photo {
  flex: 1;
  height: 87px;
  width: 52px;
  align-self: left;
  background-image: url(/img/jonmajor.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 24px;
  float: left;
}

footer .bio .details {
  float: left;
}

footer .sponsor {
  float: right;
  width: 120px;
  height: 74px;
}

footer .sponsor h1 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 16px;
}

footer .sponsor p {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 16px;
}

footer .sponsor .logo {
  display: block;
  height: 50px;
  width: 99px;
  background-image: url(/img/ir_logo.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

footer .social li {
  margin-right: 15px;
}

/**
 * Mobile overrides
 */
@media screen and (max-width: 1229px) {
  .content {
    grid-template-columns: 1fr;
  }

  .content #illustration {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  main {
    grid-template-rows: 56px 1fr 300px;
  }

  .container {
    background: none;
  }

  .suggest-article {
    position: absolute;
    grid-template-rows: 90px 1fr;
    height: 1115px;
  }

  .suggest-article .close-wrapper {
    padding: 30px;
  }

  .suggest-article .close-wrapper a.close {
    display: block;
    font-size: 0;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    padding: 0;
  }

  .suggest-article form {
    width: 315px;
  }

  .suggest-article input {
    width: 250px;
  }

  .content {
    min-height: 750px;
    width: 100%;
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .content #splash {
    padding-top: 50px;
    padding-left: 0;
  }

  .content #splash h1,
  .content #splash h2 {
    width: auto;
  }

  .email-input input {
    max-width: 250px;
    width: calc(100% - 115px);
  }

  footer {
    clear: both;
  }

  footer .bio h1 {
    line-height: 3.5em;
  }

  footer .bio .photo {
    display: block;
    float: none;
    height: 52px;
  }

  footer .bio .social {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #992020;
  }

  footer .sponsor-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    margin-top: 50pt;
  }
}

@media screen and (max-width: 700px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
  }

  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px 30px;
    margin-bottom: 24px;
  }

  .banner-about {
    max-width: 355px;
    margin-bottom: 30px;
  }

  .banner h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {
  .content #splash {
    padding: 0;
  }
}
